# API Keys
GOOGLE_WEATHER_API_KEY=
WEATHER_API_KEY=

# CALENDARS
SCOPES = ['https://www.googleapis.com/auth/calendar.readonly']

# TO SEE ALL CALENDARS AND THEIR IDS, UNCOMMENT THE LINES BELOW AND RUN ON main.py (lines at the very end)
# for cal in service.calendarList().list().execute().get('items', []):
#     print(cal['id'], '-', cal['summary'])

SCHEDULE = ""
ROUTINE = ""
SOCIAL = ""
ASSIGNMENTS = ""

# These
FREE_VALUE = 0
LIGHT_VALUE = 6
BUSY_VALUE = 9

# WEATHER INFO
WEATHER_CITY = ""

# PRINTER
PRINTER_NAME=
WIDTH= # This should be the width in characters for your printer, e.g., 40

# DEBUG: Set to true to print in console
DEBUG_EVENTS=false